/*
 * @Date: 2021-07-24 16:56:52
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-08-03 02:01:24
 * @FilePath: /mtm6130-21w-010/css/style.css
 */

/* BASE */
/* set custom color */
:root {
    --main-color: #F5FAFD;
    --main-text: #e39578;
    --icon-grey: #999999;
    --text-white: #FBFBFB;
}

* {
    box-sizing: border-box
}

/* set default page color, font-family, font-size  */
body {
    background-color: var(--main-color);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
}

h2,
h3 {
    color: var(--main-text);
}

h3 {
    font-size: 18px;
}

img {
    width: 100%;
}

/* MOBILE */
.header-wrapper {
    background-image: url(../imgs/meseum-01-1920-1024x576.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */
/* Hide Header-Top-Bar in Mobile sytle */
.header-description {
    display: none;
    background-color: black;
    color: var(--text-white);
    font-size: .8rem;
}

.header-description-item {
    padding: 0 1rem;
}

.header-description-item>p {
    margin: 0.5rem 0;
}

.header-description-item>p>a:link,
.header-description-item>p>a:visited {
    color: var(--text-white);
    text-decoration: none;
}

.logo {
    width: 58px;
}

.logo>img {
    width: 100%;
}

.menu-btn {
    padding: 0;
    width: 32px;
    height: 32px;
    background-color: #454545;
}

.menu-icon {
    width: 22px;
    height: 22px;
}

.menu-active {
    background-color: var(--main-text);
}


/* Mobile dropdown background color */
.dropdown-light {
    background-color: rgba(255, 255, 255, .05);
}

/* Mobile dropdown font color and size */
.dropdown-light-item {
    color: rgba(255, 255, 255, .75);
    font-size: 14px;
}

.dropdown-light-item:hover,
.dropdown-light-item:focus {
    color: var(--main-text);
}

/* MAIN */
.grey-text {
    color: var(--icon-grey);
}

/* SERVICES */
.services-item {
    background-color: var(--main-color);
}

.services-item>img {
    width: 100%;
    margin-bottom: 1rem;
}

.more-btn {
    background-color: var(--main-text);
    border: none;
    font-weight: bold;
    width: 78px;
    height: 33px;
    box-shadow: 2px 2px 2px rgb(184, 184, 184);
}

.more-btn>a,
.more-btn>a:visited {
    color: var(--text-white);
    text-decoration: none;

}

.more-btn>a:hover,
.more-btn>a:focus {
    text-decoration: underline;
}


/* Adjust slideshow's prev & next button */
.controler {
    top: 29px;
    bottom: 86px;
}

/* Change controler-arrow size */
.controler-arrow {
    font-size: 32px;
}

/* Hide .services-container in mobile style */
.services-container {
    display: none;
}


/* CLIENTS */
.clients-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.clients-item>img {
    width: 100%;
}

/* PROTFOLIO */
/* Put indicators in the top position */
.protfolio-container {
    top: -36px;
    bottom: auto;
}

/* set indicators' style */
.protfolio-container .protfolio-indicator-item,
.protfolio-container p {
    width: auto;
    padding: 0;
    height: 20px;
    text-indent: 0px;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    border: 0px;
    margin: 0px;
    padding: 0 1px;
}

/* set indicators' active color */
.protfolio-indicator-item.active {
    color: var(--main-text);
}

.protfolio-imgs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.protfolio-imgs>div {
    width: 20vw;
}

/* FOOTER */
/* Use flex to control widget layout */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: var(--text-white);
    text-align: center;
}

.widget-heading {
    text-align: center;
    font-size: 1.2rem;
}

/* CONTACT */
/* reset link style */
.contact-item a,
.contact-item a:link,
.contact-item a:visited {
    color: var(--text-white);
    text-decoration: none;
}

/* SEARCH */
.footer-widget input {
    border: none;
}

.footer-widget button {
    color: var(--text-white);
    border: none;
    background-color: var(--main-text);
}

.copyright {
    margin-top: 1rem;
}

.footer-logo {
    font-size: xx-large;
    color: var(--main-text);
    margin-bottom: 0;
}

/* TEAM */
.staff {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.staff>img {
    width: 166px;
    border-radius: 50%;
}

.team-text {
    font-family: 'Poppins', serif;
    font-size: 16px;
}

.personal-social-media a {
    font-size: 32px;
    padding: 0 0.5rem;
    color: var(--main-text);
}

/* VIRTUAL */
.video {
    max-width: 1000px;
    background-color: #666;
    margin: 32px auto;
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 15px 20px -20px;
}

.cont-iframe {
    height: 0px;
    width: 100%;
    max-width: 1000px; /* So we set the maximum width */  
    padding-top: 56.25%; /* Relacion: 16/9 = 56.25% */
    position: relative;
}

.cont-iframe iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

/* Interactive Exhibition */
.vr-exhibition {
    width: 100%;
    height: 50vw;
}


/* TABLET min-width:768px*/
@media screen and (min-width:768px) {

    /* NAVIGATION TABLET */
    .dropdown-light {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
    }

    .dropdown-light:active {
        color: var(--main-text);
    }

    .nav-item>a:hover,
    .nav-item>a:focus {
        color: var(--main-text);
    }

    .menu-active {
        border-bottom: 5px solid var(--main-text);
        background-color: transparent;
    }

    /* SERVICES TABLET */
    /* change service slideshow to columns */
    #services-slideshow {
        display: none;
    }

    /* Change all services in a row */
    .services-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .services-item {
        padding: 1rem 0;
        width: 30%;
    }

    /* TEAM TABLET */
    .team-container {
        display: flex;
    }

    /* FOOTER TABLET */
    /* Change all widget in a row */
    .footer-widget {
        display: flex;
        gap: 2%;
    }

    /* Set every column has a same size */
    .footer-widget>div {
        flex: 1 1 0;
    }

    .contact-item {
        text-align: start;
    }

    .search input {
        width: 80%;
    }

    .subscribe>button {
        margin-top: 0.25rem;
    }

    .copyright {
        margin: 0;
    }

    /* Add logo in footer */
    .footer-logo::before {
        content: url(../imgs/logo-x1.png);
        display: block;
    }

}

/* DESKTOP min-width:1024px*/
@media screen and (min-width:1024px) {

    /* SERVICES DESKTOP */
    .services-item {
        width: 30%;
    }

    /* TEAM DESKTOP */
    /* Use flex to set all staff in a row */
    .team-container {
        display: flex;
        justify-content: space-between;
        gap: 2%;
    }
}

/* DESKTOP min-width:1440px*/
@media screen and (min-width:1440px) {
    .subscribe>button {
        margin-top: 0;
    }

    /* slideshow fits desktop width */
    .slideshow-container {
        max-width: 1440px;
    }
}




/* IMAGES POPUP */
/* Reference https://codepen.io/JiiB/pen/xgdOjw */
.magnific-img img {
    width: 100%;
    height: auto;
}

/* max-height 400px */
.img-gallery-magnific {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 400px;
}

/* Breakpoint 1400 increase .img-gallery-magnific height */
@media screen and (min-width:1400px) {
    .img-gallery-magnific {
        max-height: 500px;
    }
}
.magnific-img {
    width: 33%;
    margin-bottom: 5px;
}

/* Adjust height with page width */
.protolio-web-img img {
    height: 40vw;
    object-fit: cover;
    object-position: 100% 0;
    /* change the point of focus. */
}

a.image-popup-vertical-fit {
    cursor: -webkit-zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.98;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-arrow-left:before {
    border-right: none !important;
}

.mfp-arrow-right:before {
    border-left: none !important;
}

button.mfp-arrow,
.mfp-counter {
    opacity: 0 !important;
    transition: opacity 200ms ease-in, opacity 2000ms ease-out;
}

.mfp-container:hover button.mfp-arrow,
.mfp-container:hover .mfp-counter {
    opacity: 1 !important;
}


/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #CCC;
}

.mfp-preloader a:hover {
    color: #FFF;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: center;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {

    /**
       * Remove all paddings around the image on small screen
       */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

/* IMAGES POPUP END */