/*
 * @Date: 2021-07-24 16:56:52
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-07-30 15:38:36
 * @FilePath: /mtm6130-21w-010/css/style.css
 */
 
/* BASE */
/* set custom color */
:root {
    --main-color: #F5FAFD;
    --main-text: #e39578;
    --icon-grey: #999999;
    --text-white: #FBFBFB;
}

* {box-sizing:border-box}

/* set default page color, font-family, font-size  */
body {
    background-color: var(--main-color);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
}

h2,h3 {
    color: var(--main-text);
}

h3 {
    font-size: 18px;
}

img {
    width: 100%;
}

 /* MOBILE */
.header-wrapper {
    background-image: url(../imgs/meseum-01-1920-1024x576.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */
/* Hide Header-Top-Bar in Mobile sytle */
.header-description {
    display: none;
    background-color: black;
    color: var(--text-white);
    font-size: .8rem;
}

.header-description-item {
    padding: 0 1rem;
}

.header-description-item>p {
    margin: 0.5rem 0;
}

.header-description-item>p>a:link,
.header-description-item>p>a:visited {
    color: var(--text-white);
    text-decoration: none;
}

.logo {
    width: 58px;
}

.logo>img {
    width: 100%;
}

.menu-btn {
    padding: 0;
    width: 32px;
    height: 32px;
    /* border-color: var(--main-text)!important; */
    background-color: #454545;
}

.menu-icon {
    width: 22px;
    height: 22px;
}

.menu-active {
    background-color: var(--main-text);
}


/* Mobile dropdown background color */
.dropdown-light {
    background-color: rgba(255,255,255,.05);
}

/* Mobile dropdown font color and size */
.dropdown-light-item {
    color: rgba(255,255,255,.75);
    font-size: 14px;
}

.dropdown-light-item:hover,
.dropdown-light-item:focus{
    color: var(--main-text);
}

/* MAIN */
.grey-text {
    color: var(--icon-grey);
}

/* SERVICES */
.services-item {
    background-color: var(--main-color);
}

.services-item>img {
    width: 100%;
    margin-bottom: 1rem;
}

.more-btn {
    background-color: var(--main-text);
    color: var(--text-white);
    border: none;
    font-weight: bold;
    width: 78px;
    height: 33px;
    box-shadow: 2px 2px 2px rgb(184, 184, 184);
}

/* CLIENTS */
.clients-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.clients-item>img {
    width: 100%;
}

/* FOOTER */
/* Use flex to control widget layout */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: var(--text-white);
    text-align: center;
}

.widget-heading {
    text-align: center;
    font-size: 1.2rem;
}

/* CONTACT */
/* reset link style */
.contact-item a,
.contact-item a:link,
.contact-item a:visited {
    color: var(--text-white);
    text-decoration: none;
}

/* SEARCH */
.footer-widget input {
    border: none;
}

.footer-widget button {
    color: var(--text-white);
    border: none;
    background-color: var(--main-text);
}

.copyright {
    margin-top: 1rem;
}

.footer-logo {
    font-size: xx-large;
    color: var(--main-text);
    margin-bottom: 0;
}

/* TEAM */
.staff {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.staff>img {
    width: 166px;
    border-radius: 50%;
}

.team-text {
    font-family: 'Poppins', serif;
    font-size: 16px;
}

.personal-social-media a {
    font-size: 32px;
    padding: 0 0.5rem;
    color: var(--main-text);
}

/* TABLET min-width:768px*/
@media screen and (min-width:768px){
/* NAVIGATION */
.dropdown-light {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.dropdown-light:active {
    color: var(--main-text);
}

.nav-item>a:hover,
.nav-item>a:focus {
    color: var(--main-text);
}

.menu-active {
    border-bottom: 5px solid var(--main-text);
    background-color: transparent;
}

/* SERVICES */
/* Change all widget in a row */
.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-item {
    width: 30%;
}

/* TEAM */
.team-container {
    display: flex;
}
 
/* FOOTER */
/* Change all widget in a row */
.footer-widget {
    display: flex;
    gap: 2%;
}

/* Set every column has a same size */
.footer-widget>div {
    flex: 1 1 0;
}

.contact-item {
    text-align: start;
}

.search input {
    width: 80%;
}

.subscribe>button {
    margin-top: 0.25rem;
}

.copyright {
    margin: 0;
}

/* Add logo in footer */
.footer-logo::before {
    content: url(../imgs/logo-x1.png);
    display: block;
}

}

/* DESKTOP min-width:1024px*/
@media screen and (min-width:1024px){
    .services-item {
        width: 30%;
    }

    /* TEAM */
    /* Use flex to set all staff in a row */
    .team-container {
        display: flex;
        justify-content: space-between;
        gap: 2%;
    }
}

/* DESKTOP min-width:1440px*/
@media screen and (min-width:1440px){
    .subscribe>button {
        margin-top: 0;
    }

    /* slideshow fits desktop width */
    .slideshow-container {
        max-width: 1440px;
      }
}