
.wrapper{
    box-sizing: border-box;
}   

.sideMenu{
    box-sizing: border-box;
    position: fixed;
    top:0; 
    bottom: 0;
    left: 0;
    width: 200px;
    margin: 56px auto auto;
    transition: all ease 0.25s;
    
    z-index: 9999;
    /* background-co    lor: rgb(255, 255, 255); */

}

.icon{
    margin-left: 10px;
    color: rgb(182, 177, 177);
    font-size: 30px;
    vertical-align: middle;
    margin-right: 15px;
    
}


.sidebar a{
    color: rgb(182, 177, 177);
}


section#konten{
    color: white;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(34, 32, 32);
}
.sidebar .nav-item:hover{
    color: white !important;
    background-color: rgb(46, 45, 45);
}

.translate{
    transform: translateX(200px) !;
}

@media(max-width:992px){
  .navbar-toggler{
    border:none !important;
  }
    .sidemenu-toggler{
        outline: none !important;
        border: none;
        position: relative;
        cursor: pointer;
    }
    .line{
        position: absolute;
        width: 30px !important;
        height: 3px !important;
        background-color: white !important;
        border-radius: 4px;
        transition:all cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    }
    
    .top{
        top: 4px;
    }
    
    .top.close{
        transform: rotate(45deg);
        background-color: white !important;
        top:10px; 
    }
    
    .middle{
        top: 12px;
    }
    
    .bottom{
        top: 20px;
    } 
    
    .bottom.close , .middle.close{
        background-color: white !important;
        transform: rotate(-45deg);
        top: 10px;
    }
    .sideMenu{
        transform: translateX(-200px);
    }

    .active{
        transform:translateX(0px);
    }
    
}