nav{
    background-color: black;
    height: 171px;
    line-height: 171px; 
    min-width:1366px; /* make the navigation bar is not changed by the page size */
}

.logo{
    float: left;
}

#logo-img{
    display: inline-block;
    padding-left: 50px;
    vertical-align: middle;
}

.navbarul{
    list-style: none;
    overflow: hidden;
}

.navbarli{
    display: inline-block;
}

.navbarbutton{
    width: 120px;
    line-height: 50px;
    text-align: center;
    display: block;
    text-decoration:none;
}
.navbarbutton:link, .navbarbutton:visited{
    color:#c68d00;
}

.navbarbutton:hover, .navbarbutton:active{
    color: black;
    background-color: #c68d00;
}

.searchbar{
    font-size: 20px;
    padding-right: 50px;
    float:right;
}

#welcome{
    height:800px;
    line-height: 800px;
    background-image: url("images/main-banner.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
}

#welcome-square{
    display: inline-block;
    vertical-align: middle;
    height: 500px;
    width: 1600px;
    background-color: black;
    opacity: 0.4;
    text-align: left;
}

#welcome-text{
    display: inline;
    color: aliceblue;
    font-size: 100px;
}

#welcome-text-small{
    position: absolute;
    color: black;
}