/*
 * @Date: 2022-02-18 21:11:25
 * @LastEditors: Ke Ren
 * @LastEditTime: 2022-02-19 01:48:27
 * @FilePath: /mtm6302-exercise-2/style.css
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Setting the box-sing for all elements */
*,
*:before,
*:after{
    box-sizing: inherit;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box
}


/* Custom CSS */

body{

  text-align: center;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  padding: 1rem;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content:center
}

.gallery-item {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit:fill;
}

.gallery-item>p {
  margin-top: 0.5rem;
}

#showroom {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  justify-content:center;
  align-items:center
}

.showroom-image {
  width: 100%;
  /* margin-right: 2rem; */
}

.showroom-image img {
  width: 100%;
  height: 100%;
  object-fit:fill;}

.image-detail {
  text-align: left;
  font-size: 1.25rem;
}

.image-detail>p {
  margin: 1rem 0;
}

#downloadBtn {
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 4rem;
  }

  #showroom {
    flex-direction: row;
  }

  .showroom-image {
    width: 700px;
    margin-right: 2rem;
  }
}


@media screen and (min-width: 1024px) {
  body {
    padding: 0 14rem;
  }

  #showroom {
    flex-direction: row;
  }
}