/*
 * @Date: 2021-10-05 22:32:53
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-10-25 11:45:01
 * @FilePath: /myTowerDefenseGame/css/style.css
 */

#canvas01
{
    z-index: -3;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas02 {
    z-index: -2;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas03 {
    z-index: -1;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tower-select-panel {
    background-color: rgb(139, 122, 122);
    padding: 4px 4px;
}

.player-panel {
    position: absolute;
    top:5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.waypoint-btn {
    background-color: gray;
}

.waypoint-btn:hover {
    background-color: aqua;
    cursor: pointer;
}