/*
 * @Date: 2021-06-27 00:20:51
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-07-01 02:58:23
 * @FilePath: /mid-trem-prototype/css/base.css
 */

 /* Setting the box-sing for all elements */
*,
*:before,
*:after{
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

:root {
    --pink: #F564A9;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    color: var(--pink);
}

h2 {
    color: var(--pink);
    margin-top: 0;
    font-size: 38px;
    border-bottom: 5px solid black;
    width: fit-content;
    margin: 1rem auto;
}

h2>span {
    color: black;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:visited,
a:link {
    color: black;
}

/* Clear list style */
ol, ul {
	list-style: none;
    padding: 0;
}