/*
 * @Date: 2021-06-09 11:30:43
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-06-25 00:53:44
 * @FilePath: /mid-trem-prototype/css/layout.css
 */

 /* Mobile style max-width:375px */
body {
    padding: 8px 16px 0 16px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* Tablet style min-width:376px and max-width:1023px */


 /* Desktop style min-width:1024px */