/*
 * @Date: 2021-06-27 00:21:04
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-06-29 00:30:43
 * @FilePath: /mid-trem-prototype/css/main.css
 */

/* Mobile first max-width:375px */
/* HEADER */
/* menu is invisible when in the mobile style at first */
.menu-container {
    display: none;
    position: absolute;
    background-color: var(--pink);
    color: white;
    z-index: 1;
    top: 5rem;
    left: 0;
    right: 0;
    margin:auto;
}

.menu-container ul {
    margin: 0;
}

.menu-container li {
    line-height: 1.5;
}

.menu-container li:hover {
    background-color: white;
    color: black;
}

.menu {
    font-size: 22px;
}

.menu ul {
    display: flex;
}

.menu ul>li {
    padding: 1rem;
}

/* Current Page Link Style */
.current-page {
    background-color: var(--pink);
    color: white;
}

.menu ul>li>a {
    font-weight: bold;
}

/* Show the dropdown menu on hover */
.dropbtn-container:hover .menu-container {
    display: block;
}

.dropbtn {
    border: 1px solid var(--pink);
}

.dropbtn>img {
    width: 25px;
    height: 25px;
    fill: var(--pink);
}

/* BANNER */
.slogan>p {
    font-weight: bold;
}
.banner-img>img {
    width: 100%;
}

/* ABOUT */
.about-img>img {
    width: 100%;
}

/* COMMENTS */
.comment-box>p {
    margin: 0;
}

/* CONTACT */
iframe {
    width: 100%;
}

/* FOOTER */
footer {
    color: white;
    background-color: black;
}

 /* Tablet style min-width:376px and max-width:1023px */
@media screen and (min-width:376px) {
    .products-itmes>div:nth-child(2n) {
        margin: 0 5px;
    }

    .products-itmes>div>img {
        width: 100%;
    } 
}

/* Desktop style min-width:1024px */
@media screen and (min-width:1024px) {
    h1,h2 {
        font-size: 80px;
    }
}