/*
 * @Date: 2021-05-24 00:31:40
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-05-24 03:02:02
 * @FilePath: /mtm6201/happyangels/css/main.css
 */

.navbar-brand img {
    height: 50px;
}

.navbar-light .navbar-toggler {
    background-color: #FF7162;
    color: #fa9c91;
}

.navbar-toggler:hover {
    border: 1px solid white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}