/*
 * @Date: 2021-05-24 00:31:40
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-05-25 08:46:05
 * @FilePath: /happyangels/css/main.css
 */


 /* Mobile Style */
.navbar-light {
    background-color: #fff !important;
}

.navbar-brand img {
    height: 50px;
}

.navbar-light .navbar-toggler {
    background-color: #FF7162;
    color: #fa9c91;
}

.navbar-toggler:hover {
    border: 1px solid white;
}

/* change toggler-icon color */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* .carousel-inner .carousel-item {
    max-height: 600px;
} */

/* TODO Sildshow */