/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset CSS Style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- My CSS ------------- */

/* Set default font-size */
html{
    font-size: 16px;
}

body{
    text-align: center;
    margin: 0;
    background-color: #aad4cf;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

#container{
    position:relative;
    margin:0 auto;
    padding:0px;
    width:1024px;
}

header{
    text-align: center;
    background-color:#d4e9e7;
}

.header-background{
    height: 341px;
    background: url(../images/lone-starfish-wide.jpg) no-repeat center;   
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.3rem;
    padding-top: 200px;
}

nav{
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 2px;
}

nav th{
    width: 340px;
}

/* add lines between buttons */
nav th:nth-child(even){
    border-right: 1px black solid;
    border-left: 1px black solid;
}

nav th a,
nav th a:link,
nav th a:visited{
    text-decoration: none;
    color: black;
}

nav th a:hover,
nav th a:focus{
    text-decoration: underline;
}

main{
    text-align: left;
    background-color: #d4e9e7;
}

article{
    padding: 0px 5px 0px 5px;
}

h2{
    font-family:Tahoma, Verdana, sans-serif;
    font-size: 2.25rem;
    padding-top: 30px;
    margin-bottom: 20px;
}

.warp-text{
    font-size: 1rem;
    padding-top: 5px;
}

#startfish{
    width: 25%;
    margin: 5px 20px 20px 0px;
    float: left;
}

ul{
    list-style:  disc;
    margin: 10px 0px 0px 20px;
}

#contact-form-border{
    margin: 10px 10px 0px 10px;
    border: 1px black solid;
}

#contact-form{
    margin: 10px 20px 10px 10px;
    line-height: 1.5rem;
}

input{
    width: 100%;
    margin-bottom: 10px;
}

#contact-message{
    width: 100%;
    height: 5rem;
}

input[type="radio"]{
    width: auto;
}

input[value="Send"]{
    width: auto;
    text-transform: uppercase;
}

footer{
    background-color: #d4e9e7;
}

#copyright{
    text-align: right;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    margin-right:1.25em;
}