/*
 * @Date: 2021-06-01 15:29:13
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-06-07 02:09:43
 * @FilePath: /landing-page/css/base.css
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Setting the box-sing for all elements */
*,
*:before,
*:after{
    box-sizing: inherit;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Define colors  */
:root {
    --gost-white: #f7f7ff;
    --aquamarine: #57eeab;
    --canary: #fffd8c;
    --jet: #333131;
    --pink: #ff8480;
}

/* Set the default font family, size, color and background-color */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
	line-height: 1.2;
    background-color: var(--gost-white);
    color: var(--jet);
}

/* Set the default font-size, font-wight and line-height */
h1 {
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 4.8rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 19px;
}

.brand-logo {
    width: 114px;
}

.landing-form {
    background-color: white;
}

footer {
    background-color: var(--canary);
}