/*
 * @Date: 2021-06-01 15:29:23
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-06-08 00:04:00
 * @FilePath: /landing-page/css/layout.css
 */

/* Mobile Style max-width: 375px */
header {
    padding: 1.5rem 2.25rem;
}

main {
    padding: 0 2.25rem;
}

/* Tablet Style min-width: 376px max-width: 768px */
@media screen and (min-width:768px){
    header {
        padding: 1.5rem 80px;
    }
    
    main {
        padding: 0 80px;
    }  
}

/* Desktop Style min-width: 769px */
@media screen and (min-width:1024px) {
    /* use flex layout for main part*/
    main {
        display: flex;
        flex-flow: row nowrap;
        padding: 0 140px;
    }

    .slogan {
        flex: 1.2 1 0;
    }

    .scooter {
        flex: 2 1 0;
        background-size: contain;
    }

    .landing-form {
        flex: 1 1 0;
    }

    header {
        padding: 1.5rem 140px;
    }

    /* use flex layout for footer part*/
    footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}