/*
 * @Date: 2021-06-01 15:29:23
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-06-01 16:47:52
 * @FilePath: /landing-page/css/layout.css
 */

/* Mobile Style max-width: 375px */
header {
    padding: 1.5rem 2.25rem;
}

main {
    padding: 0 2.25rem;
}

/* Tablet Style min-width: 376px max-width: 768px */

/* Desktop Style min-width: 769px */
@media screen and (min-width:1024px) {
    /* use flex layout for main part*/
    main {
        display: flex;
        flex-flow: row nowrap;
    }
    /* use flex layout for footer part*/
    footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}