/*
 * @Date: 2021-06-01 15:29:27
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-06-13 01:51:11
 * @FilePath: /landing-page/css/main.css
 */

/* Mobile Style max-width: 375px */
.slogan>p {
    font-size: 1.5rem;
    line-height: 1.3;
}

/* Use background-img to show the scooter */
.scooter {
    background-image: url(../images/bg-image/scooter.svg);
    background-repeat: no-repeat;
    height: 211px;
    background-position: center;
}

.landing-form {
    border-radius: 26px;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 45px;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    line-height: 19px;
    box-shadow:5px 10px 15px rgba(51, 49, 49, 0.4);
}

/* Use flexlayout to change order in Tablet mode */
.form-input {
    display: flex;
    flex-direction: column;
}

form p {
    padding-top: 8px;
}

.form-input>input {
    width: 100%;
    height: 40px;
    background-color: #f4f4f5;
    border: none;
    border-radius: 11px;
    margin: 0.5rem 0;
    padding: 0;
}

/* Set placeholder text */
/* ISSUE Why placeholder text cant be set in page tag? */
.form-input .input-text::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #9B9B9B;
    line-height: 19px;
    padding-left: 10px;
}

/* Opacity of the first input text */
.input-1 {
    opacity: 0.5;
}

/* Use flex layout keep text vertically centered */
.checkbox-containter {
    display: flex;
    align-items: center;
}

/* TODO: Why radius does not work? */
input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

/* ISSUE how to change the checkbox background? */
/* It does not work */
input[type="checkbox"]:checked {
    background-color: var(--aquamarine);
    color: var(--aquamarine);
}

form input[type="button"] {
    margin-top: 1rem;
    background-color: var(--aquamarine);
    border: none;
    border-radius: 11px;
    height: 55px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
}

.landing-form .app-status {
    font-size: 14px;
}

.landing-form .app-status>a {
    color:var(--pink);
}

/* Show links without underline */
.app-status>a:link,
.app-status>a:visited {
    text-decoration: none;
}

/* When hover & focus change text underline */
.app-status>a:hover,
.app-status>a:focus {
    text-decoration: underline;
}

/* Use flex layout to control the elements' position */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--canary);
    padding: 24px 36px;
}

.footer-text-bold {
    padding-right: 38px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.footer-text {
    padding-top: 10px;
}

footer input {
    background-color: var(--gost-white);
    border-radius: 11px;
    border: none;
    height: 40px;
}

/* Using flex layout to make 'hours'&'city' adapt Tablet and Desktop */
.hours-city {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px 0px;
}

footer input[id=hours] {
    flex-basis: calc(25%);
    /* width: 68px; */
}

footer input[id=city] {
    flex-basis: calc(70%);
    /* width: 55vmin; */
}

/* set placeholder fonts */
footer input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight:500;
    color: #707070;
    padding-left: 5px;
}

footer input[type=button] {
    margin: 5px 0px;
    background-color: var(--pink);
    color: var(--gost-white);
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    padding: 0;
}

.icons {
    margin: 5px 0px;
    text-align: center;
}

.icons img {
    display: inline;
    padding: 0px 18px;
    height: 32px;
}

/* Facebook icon raduis */
.img-radius {
    border-radius: 50%;
}

/* Tablet Style min-width: 376px max-width: 768px */
@media screen and (min-width:768px){
    h1 {
        font-size: 5rem;
        font-weight: bold;
        line-height: 6rem;
    }

    .slogan>p {
        padding-top: 20px;
        font-size: 24px;
        line-height: 32px;
    }    

    .scooter {
        height: 308px;
        margin-top: -20px;
        margin-bottom: 1rem;
    }

    .section-form p {
        font-size: 30px;
        line-height: 37px;
    }

    .landing-form {
        margin-top: 30px;
    }

    .form-input>input {
        height: 55px;
    }
    /* change input order */
    form input[type="tel"] {
        order: 1;
    }

    /* reset opacity of the first input text  */
    .input-1 {
        opacity: 1;
    }

    .landing-form p {
        padding: 1rem 0;
        font-size: 30px;
    }

    input[type="checkbox"] {
        width: 29px;
        height: 29px;
    }
    
    .form-input input[type="button"] {
        height: 4rem;
        font-size: 2rem;
    }

    .checkbox-containter label {
        font-size: 20px;
    }

    .landing-form .app-status {
        text-align: center;
        font-size: 17px;
    }
    
    footer {
        padding: 24px 80px;
    }

    .footer-text {
        font-size: 1rem;
    }

    .hours-city {
        margin-top: 1rem;
    }

    /* Adjust input width in footer*/
    footer input[id=hours] {
        flex-basis: calc(15%);
    }
    
    footer input[id=city] {
        flex-basis: calc(50%);
    }

    footer input[type=button] {
        flex-basis: calc(30%);
    }

    .icons {
        margin-top: 1.5rem;
    }

    .icons img {
        padding: 0px 21px;
        height: 35px;
    }
}

/* Desktop Style min-width: 769px */
@media screen and (min-width:1024px) {
    main {
        margin-top: 96px;
        margin-bottom: 96px;
    }

    .slogan {
        padding-top: 1rem;
    }

    .slogan>p {
        padding-top: 40px;
    }

    /* Use height:auto fit height to the containter */
    /* Use negative margin to overlap text and background-img*/
    .scooter {
        height: auto;
        margin: 0 -10rem 0 -8rem;
    }

    .landing-form {
        margin: 0;
        padding: 35px 43px 45px 43px;
    }

    form input[type="button"] {
        height: 57px;
    }

    /* Change flex-direction: row; */
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 92px;
        padding: 24px 140px;
    }

    /* Ues float to align calculate to the left side of the page */
    .calculate {
        display: block;
        float: left;
    }

    /* Use flexlayout to change icons' order */
    .icons {
        display: flex;
        margin: 0;
        float: right;
    }

    /* change icons' order */
    .icons :nth-child(1){order:1;}
    .icons :nth-child(4){order:2;}

    /* cancel facebook icon's raduis */
    .img-radius {
        border-radius: 0;
    }

    /* Set inputs and button to the same line */
    .hours-city {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: start;
        width: 615px;
    }

    .hours-city>input {
        margin-right: 1rem;
    }

    footer input[id=hours] {
        flex-basis: 122px;
        /* width: 68px; */
    }
    
    footer input[id=city] {
        flex-basis: 260px;
        /* width: 55vmin; */
    }
    
    footer input[type=button] {
        margin: 0;
        flex-basis: 200px;
    }
}