/*
 * @Date: 2021-03-09 09:32:40
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-03-12 20:11:45
 * @FilePath: /mtm6130-21w-010/mock-up-test/css/main.css
 */

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM CSS -- Mobile Style*/

html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Setting the box-sing for all elements */
*,
*:before,
*:after{
    box-sizing: inherit;
}

.logobar{
    padding-top: 1rem;
    background-color: #C78B08;
}

body{
    min-width: 600px;
}

nav ul{
    text-align: center;
}

nav ul li{
    font-size: 1.5rem;
    padding: 1rem;
}

nav ul li a,
nav ul li link,
nav ul li a:visited{
    text-decoration: none;
    color: #C78B08;
}

nav ul li:nth-child(1){
    background-color: #C78B08;
}

nav ul li:nth-child(1)>a{
    color: #222222;
}

nav ul li:nth-child(n+2){
    background-color: #222222;
}

/* search bar */
.search{
    line-height: 1.5rem;
    width: 90%;
}

.search-img{
    display: inline-block;
    height: 2rem;
    padding-top: 0.2rem;
    vertical-align: middle;
}

/* use flex make items center */
.mainbanner{
    display: flex;
    align-items:center;
    justify-content: center;
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    line-height: 1.5rem;
}

.mainbanner-dark{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 78%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 1rem;
    padding-top: 2rem;
}

.welcome{
    line-height: 4rem;
    font-size: 3.5rem;
}

.banner-button{   
    border: none;
    height: 4.5rem;
    width: 12rem;
    background-color: #C78B08;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.banner-button>a{
    display: flex;
    align-items:center;
    justify-content: space-around;
    text-decoration: none;
    color: #222222;
}

.triangle-right-black{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #222222;
    border-bottom: 10px solid transparent;
}

main{
    font-size: 1rem;
    line-height: 1.5rem;
}

main p{
    margin-bottom: 0.5rem;
}

section{
    padding: 10px;
}

#about-us{
    background-color: #FFE6AC;
}

.content-main-image{
    width: 100%;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#services{
    background-color: #FFFFFF;   
}

.secondary-content{
    margin-top: 1rem;
    background-color: #FFE6AC;
}

.secondary-content h2,
.secondary-content p{
    padding: 0 1rem 1rem 1rem;
}

h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3rem 0 2.2rem 0;
}

.secondary-button{
    border: none;
    height: 4.5rem;
    width: 12rem;
    background-color: #222222;
    margin: 0rem 1rem 1rem 1rem;
    font-size: 1.1rem;
}

.secondary-button>a{
    display: flex;
    align-items:center;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.triangle-right-white{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid white;
    border-bottom: 10px solid transparent;
}

.our-vision{
    margin-top: 1rem;
    background-image: url(../images/vision.jpg);
    background-size:cover;
    color: white;
    padding: 10px;
}

.our-vision>h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
    padding-top: 4rem;
}

/* a speacial secondary button */
.our-vision>.secondary-button{
    background-color: #162942;
    border: 1px solid #C78B08;
}

#team h2{
    margin: 3rem 0 0 0;
}

h2 .job-title{
    font-size: 1.2rem;
    padding: 1rem 0 0 0;
    border-bottom: #C78B08 2px solid;
}

#contact-form .contact-label,
#contact-form input{
    width: 100%;
    height: 2rem;
    margin-bottom: 0.8rem;
}
#contact-form textarea{
    width: 100%;
    height: 8rem;
}

#contact-form #send-button{
    font-size: 1.5rem;
    width: auto;
    background-color: #222222;
    color: #C78B08;
    border: none;
    margin-top: 1rem;
}

#hours{
    width: 100%;
    table-layout: fixed;
}

#hours th,
#hours td{
    border: 1px solid black;
    padding: 1rem;
}

#hours th{
    background-color: #FFE6AC;
}

footer{
    background-color: #222222;
    color: #C78B08;
    line-height: 3rem;
    padding: 1rem;
}