/*
 * @Date: 2021-03-09 09:32:40
 * @LastEditors: Ke Ren
 * @LastEditTime: 2021-04-01 01:48:06
 * @FilePath: /mtm6130-21w-010/final-project/css/main.css
 */

/* CSS-RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS -- Mobile Style */
html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

/* Setting the box-sing for all elements */
*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    min-width: 600px;
    max-width: 1200px;
    margin: 0 auto;
}

/* TEMP */

/* Nanbar */
header{
    background-color: #222222;
}

nav{
    background-color: #222222;
    /* Black board on the top of page */
    padding: 1rem 0 0 0;
}

.logobar{
    /* align left */
    text-align: left;
    background-color: #C78B08;
}

nav ul{
    text-align: center;
}

nav ul li{
    font-size: 1.1rem;
    font-weight:400;
    padding: 1.25rem;
    margin: 0 1rem;
}

nav ul li a,
nav ul li link,
nav ul li a:visited{
    text-decoration: none;
    color: #C78B08;
}

nav ul li a:hover,
nav ul li a:focus{
    text-decoration: underline;
}

/* Btn Home */
nav ul li:nth-child(2){
    background-color: #C78B08;
}

nav ul li:nth-child(2)>a{
    color: #222222;
}

/* Btns after Home */
nav ul li:nth-child(n+3){
    background-color: #222222;
}

/* search bar */

/* TODO(Ke Ren): Margin or Padding issues, need to be optimized */
.search{
    margin:0 -2rem;
}


.search input{
    line-height: 2.3rem;
    width: 90%;
    font-size: 1.1rem;
}

.search img{
    display: inline;
    height: 2.6rem;
    padding-top: 1px;
    margin-left: -5px;;
    vertical-align: middle;
}

/* Banner */
#banner{
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 642px;
    color: white;
    line-height: 1.5rem;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}

.banner-contents{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem 1rem 0;
}

.banner-contents h1{
    line-height: 6rem;
    font-size: 4.5rem;
}

.banner-contents p{
    font-weight: 200;
}

.banner-BTN{   
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 6rem;
    width: 14rem;
    background-color: #c78b08;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.banner-BTN>a{
    /* display: flex; */
    text-decoration: none;
    color: #222222;
}

/* Draw a triangle */
.triangle-right-black{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 1rem;
    border-top: 10px solid transparent;
    border-left: 20px solid #222222;
    border-bottom: 10px solid transparent;
}

/* use GRID layout for "main" */
main{
    font-size: 1rem;
    line-height: 1.5rem;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 1fr;
    grid-template-areas: 
    "about"
    "services"
    "team"
    "contact";
}

main p{
    margin-bottom: 0.5rem;
}

section{
    padding: 10px;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 0 0;
}

/* About US */
#about{
    grid-area: about;
    background-color: #FFE6AC;
}

.content-main-image{
    width: 100%;
}

/* Services */
#services{
    grid-area: services;
    background-color: #FFFFFF; 
}

.secondary-content{
    margin-top: 1rem;
    padding-bottom: 1rem;
    background-color: #FFE6AC;
}

.secondary-content h2,
.secondary-content p{
    padding: 0 1rem 1rem 1rem;
}

.secondary-button{
    display: flex;
    align-items:center;
    justify-content: space-around;
    border: none;
    height: 6rem;
    width: 14rem;
    background-color: #222222;
    margin: 0rem 1rem;
    font-size: 1.3rem;
}

.secondary-button>a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.triangle-right-white{
    display: inline-block;
    margin-left: 1rem;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid white;
    border-bottom: 10px solid transparent;
}

.our-vision{
    margin: 1rem -1rem 0 -1rem;
    background-image: url(../images/vision.jpg);
    background-size:cover;
    color: white;
    padding: 1rem;
}

.our-vision>h2{
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 0;
}

/* a speacial secondary button */
.our-vision>.secondary-button{
    background-color: #162942;
    border: 1px solid #C78B08;
    margin: 1rem 0 0 0;
}

/* Team */
#team{
    grid-area: team;
}

.team-text{
    margin: 1rem 0 0 0;
}


.secondary-content .job-title{
    padding: 0 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: #C78B08 2px solid;
}

/* Contact */
#contact{
    grid-area: contact;
}

#contact h2{
    margin: 2rem 0 1rem 0;
}

#contact-form .contact-label,
#contact-form input{
    width: 100%;
    height: 1rem;
    margin-bottom: 0.8rem;
}
#contact-form textarea{
    width: 100%;
    height: 9rem;
}

#contact-form #send-button{
    font-size: 1.5rem;
    width: auto;
    background-color: #222222;
    color: #C78B08;
    border: none;
    margin-top: 1rem;
}

#hours{
    width: 100%;
    table-layout: fixed;
}

#hours th,
#hours td{
    border: 1px solid black;
    padding: 1rem;
}

#hours th{
    background-color: #FFE6AC;
}

#google-map iframe{
    width: 100%;
    height: 450px;
    border: none;
}

/* Footer */
footer{
    background-color: #222222;
    color: #C78B08;
    line-height: 2.6rem;
    padding: 1.5rem 1rem 0.5rem 1rem;
}

/* Destop Style - 760px and above*/
@media screen and (min-width:760px){

    /* Navbar-Destop */
    nav ul{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    nav ul li{
        margin: 0 0.25rem;
        padding: 1.25rem 1.5rem;
    }

    .logobar{
        background-color: transparent;
        margin: 0 2rem 0 0;
    }

    .search{
        margin: 0;
    }
    
    .search input{
        width: 80%;
    }

    .banner-contents{
        margin: 0 4rem;
    }

    .banner-contents h1{
        font-size: 4.8rem;
        line-height: 6rem;
    }

    /* About-Us-Destop */
    #about{
        display: flex;
        justify-content: center;
        padding: 1rem 4rem;
    }
    
    #about .content-main-image{
        width: 50%;
        /* Keep the picture undistorted */
        object-fit:cover;
    }

    #about .about-us-text{
        padding: 0 1.5rem 0 1rem;
    }

    /* Services-Destop */
    #services{
        display: flex;
        /* justify-content: center; */
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 4rem;
    }

    #services h1{
        flex-basis:calc(100%);
    }

    #services h2{
        font-size: 1.75rem;
    }

    #services .secondary-content:nth-child(2){
        width: 49%;
        min-width: 500px;
    }

    #services .secondary-content:nth-child(3){
        width: 49%;
        min-width: 500px;
    }

    #services .secondary-content:nth-child(4){
        width: 32.1%;
        min-width: 300px;
    }

    #services .secondary-content:nth-child(5){
        width: 32.1%;
        min-width: 300px;
    }

    #services .secondary-content:nth-child(6){
        width: 32.1%;
        min-width: 300px;
    }

    /* Our-Vision-Destop */
    .our-vision{
        margin: 1rem -4rem 0 -4rem;
        padding: 1rem 2rem;
        background-size:100% 200%;
    }

    /* Team-Destop */
    #team{
        padding: 0 4rem;
    }

    #team .secondary-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 0;
    }

    #team .secondary-content .content-main-image{
	    width: 50%;
        object-fit:cover;

    }

    #team .secondary-content .team-text{
        width: 50%;
    }
    /* switch img and text */
    #team .secondary-content .cfo{
        order: -1;
    }

    /* Contact-Destop */
    #contact{
        padding: 0 4rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.01fr 1fr 0.5fr;
        grid-template-areas: 
        "title title"
        "form map"
        "hours hours"
        ;     
    }

    #contact h1{
        grid-area: title;
        padding-top: 2.8rem;
    }

    #contact #contact-form{
        grid-area:form;
    }

    #contact #hours-of-operation{
        grid-area: hours;

    }

    #contact #google-map{
        grid-area: map;
    }

    #contact-form input{
    height: 2.5rem;
    margin-bottom: 0.8rem;
}   

    #contact-form textarea{
        height: 10rem;
    }
}